@charset "UTF-8";

.e_list li{float:left;width:240px;margin-right:30px;margin-top:50px}
.e_list li:nth-child(4n){margin-right:0px}.e_list li:nth-child(-n+4){margin-top:0}
.e_list li .img{
	heigth: 345px;
	width:100%;
}
.e_list li .img a{
	display: block;
	width: 100%; height: 345px;
	position:relative;
	overflow:hidden; 
}
.e_list li .img img{
	width:100%; max-width: 240px; max-height: 345px;
	position: absolute; top:50%; left:50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease-in-out;
}
.e_list li .img img:hover{
	transform: translate(-50%, -50%) scale(1.1);
	
}
.e_list li .txt {
	margin-top:20px;	
}
.e_list li .txt h3, .e_list li .txt p{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}	
.listmore{
	width:240px;
	height:70px;
	margin: 70px auto 0;
	border: 1px solid #5f0080;
	text-align: center;
	line-height: 68px;
	font-size: 18px;
	color:#5f0080;
	cursor: pointer;
}
.listmore:hover{
	background: #5f0080;
	color:white;
	transition:all 0.2s ease-in-out;
}
